.grid {
    display: grid;
    grid-template-areas:
                "left1 canvas"
                "left2 image";
}
.canvas-wrap {
    grid-area: canvas;
    width: 512px;
    border-top: darkgray solid 1px;
    border-left: darkgray solid 1px;
    border-right: darkgray solid 1px;
    display: grid;
    position: relative;
}
.image {
    grid-area: image;
    width: 512px;
    border-bottom: darkgray solid 1px;
    border-left: darkgray solid 1px;
    border-right: darkgray solid 1px;
}
.r90 {
    transform: rotate(-90deg);
}
.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1280px;
    position: relative;
    height: 100%;
}
#readme a {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: #1c1c1c;
}
#readme a:visited {
    color: #4a4a4a;
}